#conts {
	width:850px;
	margin-right: auto;
	margin-left: auto;
	margin-top: 11px;
	margin-bottom: 11px;
}

#conts .scroll{
	width:750px;
	margin-right: auto;
	margin-left: auto;
	margin-top: 11px;
	margin-bottom: 11px;
	height: 200px;
	overflow: scroll;
}

#conts .error_area {
	height: 20px;
	padding-top: 5px;
	padding-bottom: 5px;
}

#conts .style_p01red {
	color: #D20000;
}

#conts .style_p01disable {
	text-decoration: line-through;
	color: #A9A9A9;
}

#conts .style_p02attention {
	font-size: 12px;
	line-height: 14px;
}

#conts .style_p03attention {
	font-size: 12px;
}

#conts .style_p04agree_red {
	color: #D20000;
	font-size: 14px;
}

#conts .style_p05center {
	font-size: 14px;
	text-align: center;
}

#conts .style_p06 {
	font-size: 12px;
	margin-bottom: 10px;
}

#conts .style_p07 {
	color: #D20000;
	font-size: 11px;
}

#conts .style_p08 {
	color: #D20000;
	font-size: 13px;
	text-align: center;
}

#conts .style_p09_arrow {
	color: #333333;
	font-size: 12px;
	background-image: url(/assets/esta-o/img/common/arrow01.png);
	background-position: left center;
	background-repeat: no-repeat;
	padding-left: 20px;
	line-height: 20px;
	margin-left: 40px;
}

#conts .style_p10 {
	font-size: 12px;
	margin-right: 30px;
	margin-left: 30px;
	margin-bottom: 10px;
	line-height: 16px;
}

#conts .style_p11 {
	color: #D20000;
	font-size: 11px;
	margin-right: 30px;
	margin-left: 30px;
}

#conts .style_p12 {
	font-size: 13px;
	margin-left: 40px;
	line-height: 18px;
	margin-right: 40px;
}

#conts .style_p13 {
	font-size: 14px;
	line-height: 18px;
	text-align: center;
	color: #C40000;
	font-weight: bold;
}

#conts .style_p14 {
	font-size: 12px;
	margin-left: 20px;
	line-height: 18px;
	margin-right: 20px;
	margin-bottom: 10px;
}

#conts .style_p15 {
	font-size: 12px;
	margin-left: 20px;
	line-height: 18px;
	margin-right: 20px;
	margin-bottom: 10px;
	color: #CE0000;
	font-weight: bold;
}

#conts .style_p16 {
	font-size: 12px;
	margin-left: 20px;
	line-height: 18px;
	margin-right: 20px;
	margin-bottom: 10px;
	border: 1px solid #999;
	padding: 5px;
	width: auto;
}

#conts .style_p17 {
	font-size: 12px;
	margin-left: 20px;
	line-height: 18px;
	margin-right: 20px;
	margin-bottom: 10px;
	border: 1px solid #999;
	padding: 5px;
	width: 700px;
}

#conts .style_p18 {
	font-size: 11px;
	margin-left: 30px;
	line-height: 13px;
	margin-right: 30px;
	margin-bottom: 20px;
	padding: 5px;
	width: 780px;
	background-color: #E6EEF7;
}

#conts .style_p19 {
	font-size: 13px;
	margin-left: 30px;
	line-height: 13px;
	margin-right: 30px;
	margin-bottom: 20px;
	padding: 10px;
	width: 780px;
	background-color: #E6EEF7;
	font-weight: bold;
}

#conts .style_p20_error {
	font-size: 12px;
	margin-bottom: 10px;
	font-weight: bold;
	color: #FFFFFF;
	margin-top: 10px;
	background-color: #D20000;
	width: auto;
	margin-right: auto;
	background-image: url(/assets/esta-o/img/common/arrow_error02.png);
	background-position: 5px center;
	padding-top: 5px;
	padding-right: 5px;
	padding-bottom: 5px;
	padding-left: 18px;
	background-repeat: no-repeat;
	height: 20px;
	line-height: 20px;
}

#conts .style_p21 {
	font-size: 11px;
	color: #666;
}

#conts .style_h2_01 {
	background: url(/assets/esta-o/img/page/title_bg.png) no-repeat left top;
	height: 40px;
	width: 820px;
	line-height: 40px;
	padding-left: 30px;
	font-size: 16px;
	margin-bottom: 20px;
	font-weight: bold;
}

#conts .style_h2_02 {
	font-weight: bold;
	width: 770px;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #E6E6E6;
	margin-right: auto;
	margin-left: auto;
	line-height: 40px;
	height: 40px;
	margin-top: 10px;
}

#conts .style_h2_03 {
	font-weight: bold;
	width: 770px;
	margin-right: auto;
	margin-left: auto;
	line-height: 40px;
	height: 40px;
	margin-top: 20px;
	font-size: 18px;
}

#conts .style_h3_01 {
	height: 30px;
	line-height: 30px;
	padding-left: 20px;
	font-size: 16px;
	margin-bottom: 5px;
	background-image: url(/assets/esta-o/img/common/dot.png);
	background-repeat: no-repeat;
	background-position: left center;
	font-weight: bold;
}

#conts .style_h3_02 {
	height: 36px;
	line-height: 36px;
	padding-left: 30px;
	font-size: 18px;
	margin-bottom: 20px;
	background-image: url(/assets/esta-o/img/common/dot.png);
	background-repeat: no-repeat;
	background-position: 10px center;
	font-weight: bold;
	background-color: #CDCDCD;
	color: #333;
}

#conts .style_h3_03 {
	height: 30px;
	line-height: 30px;
	font-size: 13px;
	margin-bottom: 10px;
	background-image: url(/assets/esta-o/img/common/h3_bg_line.jpg);
	background-repeat: no-repeat;
	background-position: bottom;
	font-weight: bold;
	color: #333;
	margin-right: 20px;
	margin-left: 20px;
}

/* トップページ */

#conts .style_img_creditcard {
	margin-right: 20px;
	width: 50px;
	height: 31px;
}

/* お申込みページテーブル */

#conts .table_apply1 {
	width: 750px;
	border-spacing: 0;
	font-size:12px;
	margin-right: 50px;
	margin-left: 50px;
	margin-bottom: 30px;
	margin-top: 11px;
}

#conts .table_apply1 th {
	color: #fff;
	padding: 8px 15px;
	background: #258;
	background:-moz-linear-gradient(rgba(34,85,136,0.7), rgba(34,85,136,0.9) 50%);
	background:-webkit-gradient(linear, 100% 0%, 100% 50%, from(rgba(34,85,136,0.7)), to(rgba(34,85,136,0.9)));
	border-left:1px solid #258;
	border-top:1px solid #258;
	border-bottom:1px solid #258;
	line-height: 120%;
	text-shadow:0 -1px 0 rgba(34,85,136,0.9);
	box-shadow: 0px 1px 1px rgba(255,255,255,0.3) inset;
}

#conts .table_apply1 th:first-child {
	border-radius: 5px 0 0 0;	
}

#conts .table_apply1 th:last-child {
	border-radius:0 5px 0 0;
	border-right:1px solid #258;
	box-shadow: 2px 2px 1px rgba(0,0,0,0.1),0px 1px 1px rgba(255,255,255,0.3) inset;
}

#conts .table_apply1 tr td {
	padding: 8px 11px;
	border-bottom: 1px solid #84b2e0;
	border-left: 1px solid #84b2e0;
}

#conts .table_apply1 tr td:last-child {
	border-right: 1px solid #84b2e0;
	box-shadow: 2px 2px 1px rgba(0,0,0,0.1);
}

#conts .table_apply1 tr {
	background: #fff;
}

#conts .table_apply1 tr:nth-child(2n+1) {
	background: #f1f6fc;
}

#conts .table_apply1 tr:last-child td {
	box-shadow: 2px 2px 1px rgba(0,0,0,0.1);
}

#conts .table_apply1 tr:last-child td:first-child {
	border-radius: 0 0 0 5px;
}

#conts .table_apply1 tr:last-child td:last-child {
	border-radius: 0 0 5px 0;
	text-align: left;
}

#conts .table_apply1 tr:hover {
	background: #bbd4ee;
	cursor:pointer;
}

#conts .table_apply2 {
	width: 700px;
	border-spacing: 0;
	font-size:12px;
}

#conts .table_apply2 .td_apply2_01 {
	width: 100px;
	border-spacing: 0;
	font-size:12px;
	vertical-align: top;
	border-top-width: 1px;
	border-top-style: solid;
	border-top-color: #B4D0E0;
}

#conts .table_apply2 .td_apply2_01 div{
	background-color: #CCC;
	width: 100px;
	padding-top: 5px;
	padding-right: 10px;
	padding-bottom: 8px;
	padding-left: 10px;
	color: #333;
}

#conts .table_apply2 .td_apply2_02 {
	width: 550px;
	border-spacing: 0;
	font-size:12px;
	vertical-align: top;
	line-height: 15px;
	padding-top: 5px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 5px;
	border-top-width: 1px;
	border-top-style: solid;
	border-top-color: #B4D0E0;
}

#conts .table_apply3 {
	width: 440px;
	border-spacing: 0;
	font-size:12px;
}

#conts .table_apply3 .td_apply3_01 {
	width: 200px;
	padding: 5px;
	height: 40px;
}

#conts .table_apply3 .td_apply3_02 {
	width: 550px;
	border-spacing: 0;
	font-size:13px;
	vertical-align: top;
	line-height: 15px;
	padding-top: 5px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
}

#conts .table_apply4 {
	width: 700px;
	border-spacing: 0;
	font-size:12px;
	margin-top: 10px;
}

#conts .table_apply4 .td_apply4_01 {
	width: 100px;
	border-spacing: 0;
	font-size:12px;
	vertical-align: top;
}

#conts .table_apply4 .td_apply4_01 div{
	background-color: #CCC;
	width: 100px;
	padding-top: 5px;
	padding-right: 10px;
	padding-bottom: 8px;
	padding-left: 10px;
}

#conts .table_apply4 .td_apply4_02 {
	width: 550px;
	border-spacing: 0;
	font-size:13px;
	vertical-align: top;
	line-height: 15px;
	padding-top: 5px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 5px;
}

#conts .table_apply4 .div_scr {
	width: 565px;
	border-spacing: 0;
	font-size:12px;
	height: 150px;
	overflow-y:scroll;
	background-color: #F5FBFE;
	padding: 5px;
	border: 1px solid #CCC;
}

#conts .table_apply4 .div_scr p {
	padding-bottom:10px;
}

#conts .btn01 {
	width:195px;
	margin:auto;
	background:url(/assets/esta-o/img/apply/btn01_bg.jpg) no-repeat left top;
	height:50px;
	padding-left: 55px;
}

#conts #btn01_copy {
	padding:0;
	margin:0;
	background:none;
	border:0;
	cursor:pointer;
	font-size: 15px;
	color:#FFFFFF;
	height:50px;
}

#conts .btn02 {
	width: 300px;
	margin-right: auto;
	margin-left: auto;
	height: 60px;
	color: #FFF;
	text-align: center;
}

#conts .btn01 .a_color {
	color: #FFF;
	text-decoration: none;
}

/* お申込みページテーブル 確認画面 */

#conts .table_confirm {
	table-layout: fixed;
	width: 650px;
	border-spacing: 0;
	font-size:12px;
	margin-right: auto;
	margin-left: auto;
	margin-bottom: 30px;
	margin-top: 10px;
}

#conts .table_confirm .td_left {
	width: 200px;
}
#conts .table_confirm .td_right {
	word-break: break-all;
	width: 450px;
	border-right: 1px solid #333;
}

#conts .table_confirm th {
	color: #fff;
	padding: 8px 15px;
	border-left:1px solid #333;
	border-top:1px solid #333;
	border-bottom:1px solid #333;
	line-height: 120%;
}

#conts .table_confirm th {
	background-image: url(/assets/esta-o/img/page/table_change_th_bg.jpg);
	background-repeat: repeat-x;
	border-right-width: 1px;
	border-right-style: solid;
	border-right-color: #333;
}

#conts .table_confirm .th_left {
	width: 200px;
}

#conts .table_confirm .th_right {
	width: 450px;
}

#conts .table_confirm tr td {
	padding: 8px 11px;
	border-bottom: 1px solid #333;
	border-left: 1px solid #333;
}

#conts .table_confirm tr {
	background: #fff;
}

#conts .table_confirm tr:hover {
	background: #bbd4ee;
	cursor:pointer;
}

#conts .apply_confirm_form01 {
	display: inline;
	border: none;
    margin-left: 80px;
}

#conts .apply_confirm_form02 {
	display: inline;
	border: none;
    margin-left: 0px;
}

/* お申込みページテーブル 変更画面 */

#conts .change_textbox {
	margin-right: auto;
	margin-left: auto;
	width: 500px;
	margin-top: 30px;
	background-color: #EBEBEB;
	margin-bottom: 30px;
	padding-top: 20px;
	padding-right: 20px;
	padding-bottom: 10px;
	padding-left: 20px;
}

#conts .change_textbox_line {
	border-bottom-width: 1px;
	border-bottom-style: dotted;
	border-bottom-color: #666666;
	margin-right: 50px;
	margin-left: 50px;
	margin-bottom: 10px;
	margin-top: 15px;
}

#conts .change_textbox table {
	width: 400px;
}

#conts .change_textbox table .td_left {
	height: 30px;
	line-height: 30px;
	color: #D20000;
	padding-left: 30px;
	font-size: 13px;
	width: 140px;
	background-image: url(/assets/esta-o/img/common/arrow02.png);
	background-repeat: no-repeat;
	background-position: 20px center;
}

#conts .change_textbox table .td_center {
	width: 20px;
}

#conts .change_textbox table .td_right {
	height: 30px;
	line-height: 30px;
	color: #D20000;
	font-size: 13px;
}


#conts .table_change {
	width: 770px;
	border-spacing: 0;
	font-size:12px;
	margin-right: auto;
	margin-left: auto;
	margin-bottom: 30px;
	margin-top: 10px;
}

#conts .table_change .td_left {
	width: 152px;
}
#conts .table_change .td_center {
	width: 290px;
}
#conts .table_change .td_right {
	width: 290px;
	border-right: 1px solid #333;
}


#conts .table_change th {
	color: #fff;
	padding: 8px 15px;
	border-left:1px solid #333;
	border-top:1px solid #333;
	border-bottom:1px solid #333;
	line-height: 120%;
}

#conts .table_change th {
	background-image: url(/assets/esta-o/img/page/table_change_th_bg.jpg);
	background-repeat: repeat-x;
	border-right-width: 1px;
	border-right-style: solid;
	border-right-color: #333;
}

#conts .table_change tr td {
	padding: 8px 11px;
	border-bottom: 1px solid #333;
	border-left: 1px solid #333;
}

#conts .table_change tr {
	background: #fff;
}

#conts .table_change tr:hover {
	background: #bbd4ee;
	cursor:pointer;
}

/* お申込みページテーブル 同一内容 */

#conts .table_same2 {
	width: 770px;
	border-spacing: 0;
	font-size:12px;
	margin-right: auto;
	margin-left: auto;
	margin-bottom: 30px;
	margin-top: 10px;
}

#conts .table_same2 .td_left {
	width: 152px;
}

#conts .table_same2 .td_right {
	width: 290px;
	border-right: 1px solid #333;
}

#conts .table_same2 th {
	color: #fff;
	padding: 8px 15px;
	border-left:1px solid #333;
	border-top:1px solid #333;
	border-bottom:1px solid #333;
	line-height: 120%;
}

#conts .table_same2 th {
	background-image: url(/assets/esta-o/img/page/table_change_th_bg.jpg);
	background-repeat: repeat-x;
	border-right-width: 1px;
	border-right-style: solid;
	border-right-color: #333;
}

#conts .table_same2 tr td {
	padding: 8px 11px;
	border-bottom: 1px solid #333;
	border-left: 1px solid #333;
}

#conts .table_same2 tr {
	background: #fff;
}

#conts .table_same2 tr:hover {
background: #bbd4ee;
cursor:pointer;
}

#conts .same_textbox {
	margin-right: auto;
	margin-left: auto;
	width: 650px;
	margin-top: 30px;
	background-color: #EBEBEB;
	padding-top: 20px;
	padding-bottom: 10px;
	margin-bottom: 30px;
	text-align: center;
}

#conts .table_same {
	width: 650px;
	border-spacing: 0;
	font-size:12px;
	margin-right: auto;
	margin-left: 100px;
	margin-bottom: 30px;
	margin-top: 10px;
}

#conts .table_same .td_left {
	width: 150px;
}
#conts .table_same .td_right {
	width: 300px;
}


#conts .table_same th {
	color: #fff;
	padding: 8px 15px;
	background: #258;
	background:-moz-linear-gradient(rgba(34,85,136,0.7), rgba(34,85,136,0.9) 50%);
	background:-webkit-gradient(linear, 100% 0%, 100% 50%, from(rgba(34,85,136,0.7)), to(rgba(34,85,136,0.9)));
	border-left:1px solid #258;
	border-top:1px solid #258;
	border-bottom:1px solid #258;
	line-height: 120%;
	text-shadow:0 -1px 0 rgba(34,85,136,0.9);
	box-shadow: 0px 1px 1px rgba(255,255,255,0.3) inset;
}

#conts .table_same th:first-child {
	border-radius: 5px 0 0 0;	
}

#conts .table_same th:last-child {
	border-radius:0 5px 0 0;
	border-right:1px solid #258;
	box-shadow: 2px 2px 1px rgba(0,0,0,0.1),0px 1px 1px rgba(255,255,255,0.3) inset;
}

#conts .table_same tr td {
	padding: 8px 11px;
	border-bottom: 1px solid #84b2e0;
	border-left: 1px solid #84b2e0;
}

#conts .table_same tr td:last-child {
	border-right: 1px solid #84b2e0;
	box-shadow: 2px 2px 1px rgba(0,0,0,0.1);
}

#conts .table_same tr {
	background: #fff;
}

#conts .table_same tr:nth-child(2n+1) {
	background: #f1f6fc;
}

#conts .table_same tr:last-child td {
	box-shadow: 2px 2px 1px rgba(0,0,0,0.1);
}

#conts .table_same tr:last-child td:first-child {
	border-radius: 0 0 0 5px;
}

#conts .table_same tr:last-child td:last-child {
	border-radius: 0 0 5px 0;
	text-align: left;
}

#conts .table_same tr:hover {
	background: #bbd4ee;
	cursor:pointer;
}


/* お申込みページテーブル 決済画面 */

#conts .payment_textbox {
	margin-right: auto;
	margin-left: auto;
	width: 600px;
	margin-top: 30px;
	background-color: #EBEBEB;
	margin-bottom: 30px;
	padding-bottom: 20px;
}

#conts .payment_iframebox_pc {
    border: #808080 inset 1px;
    margin-right: auto;
    margin-left: auto;
    width: 560px;
    height: 400px;
}

#conts .payment_iframebox_other {
	overflow: auto;
	border:	#808080 inset 1px;
	margin-right: auto;
	margin-left: auto;
	width: 560px;
	height: 460px;
}

#conts .payment_iframe_pc {
	overflow: hidden;
    width: 560px;
    height: 400px;
}

#conts .payment_iframe_other {
    width: 560px;
    height: 440px;
}

/* お申込みページテーブル 申請完了 */

#conts .thankyou_textbox {
	margin-right: auto;
	margin-left: auto;
	width: 600px;
	margin-top: 30px;
	background-color: #EBEBEB;
	margin-bottom: 30px;
	padding-bottom: 10px;
}

#conts .thankyou_textbox2 {
	margin-right: auto;
	margin-left: auto;
	width: 540px;
	margin-top: 30px;
	background-color: #FFFFFF;
	margin-bottom: 30px;
	padding-top: 15px;
	padding-right: 29px;
	padding-bottom: 15px;
	padding-left: 29px;
	border: 1px solid #CCC;
}


/* お問い合わせページテーブル */

#conts .table_contact {
	width: 750px;
	border-spacing: 0;
	font-size:12px;
	margin-right: 50px;
	margin-left: 50px;
	margin-bottom: 30px;
	margin-top: 11px;
}

#conts .table_contact th {
	color: #fff;
	padding: 8px 15px;
	background: #258;
	background:-moz-linear-gradient(rgba(34,85,136,0.7), rgba(34,85,136,0.9) 50%);
	background:-webkit-gradient(linear, 100% 0%, 100% 50%, from(rgba(34,85,136,0.7)), to(rgba(34,85,136,0.9)));
	border-left:1px solid #258;
	border-top:1px solid #258;
	border-bottom:1px solid #258;
	line-height: 120%;
	text-shadow:0 -1px 0 rgba(34,85,136,0.9);
	box-shadow: 0px 1px 1px rgba(255,255,255,0.3) inset;
}

#conts .table_contact th:first-child {
	border-radius: 5px 0 0 0;	
}

#conts .table_contact th:last-child {
	border-radius:0 5px 0 0;
	border-right:1px solid #258;
	box-shadow: 2px 2px 1px rgba(0,0,0,0.1),0px 1px 1px rgba(255,255,255,0.3) inset;
}

#conts .table_contact tr td {
	padding: 8px 11px;
	border-bottom: 1px solid #84b2e0;
	border-left: 1px solid #84b2e0;
}

#conts .table_contact tr td:last-child {
	border-right: 1px solid #84b2e0;
	box-shadow: 2px 2px 1px rgba(0,0,0,0.1);
}

#conts .table_contact tr {
	background: #fff;
}

#conts .table_contact tr:nth-child(2n+1) {
	background: #f1f6fc;
}

#conts .table_contact tr:last-child td {
	box-shadow: 2px 2px 1px rgba(0,0,0,0.1);
}

#conts .table_contact tr:last-child td:first-child {
	border-radius: 0 0 0 5px;
}

#conts .table_contact tr:last-child td:last-child {
	border-radius: 0 0 5px 0;
	text-align: left;
}

#conts .table_contact tr:hover {
	background: #bbd4ee;
	cursor:pointer;
}


/* 申請状況確認 */
#conts .status_input {
	background-image: url(/assets/esta-o/img/page/status_bg.jpg);
	background-repeat: no-repeat;
	background-position: center top;
	width: 500px;
	padding-top: 15px;
	height: 60px;
	margin-top: 30px;
	margin-right: auto;
	margin-bottom: 20px;
	margin-left: auto;
}

#conts .area {
	height: 25px;
	width: 280px;
}

#conts .status_output {
	width: 720px;
	padding-top: 15px;
	margin-right: auto;
	margin-bottom: 40px;
	margin-left: auto;
	text-align: center;
	background-color: #F2F2F2;
	margin-top: 10px;
	padding-bottom: 15px;
}

#conts .table_status_output {
	width: 770px;
	border-spacing: 0;
	font-size:12px;
	margin-right: auto;
	margin-left: auto;
	margin-bottom: 30px;
	margin-top: 10px;
}

#conts .table_status_output .td_left {
	width: 152px;
}
#conts .table_status_output .td_right {
	width: 290px;
	border-right: 1px solid #333;
}

#conts .table_status_output th {
	color: #fff;
	padding: 8px 15px;
	border-left:1px solid #333;
	border-top:1px solid #333;
	border-bottom:1px solid #333;
	line-height: 120%;
}

#conts .table_status_output th {
	background-image: url(/assets/esta-o/img/page/table_change_th_bg.jpg);
	background-repeat: repeat-x;
	border-right-width: 1px;
	border-right-style: solid;
	border-right-color: #333;
}

#conts .table_status_output tr td {
	padding: 8px 11px;
	border-bottom: 1px solid #333;
	border-left: 1px solid #333;
}

#conts .table_status_output tr {
	background: #fff;
}

#conts .table_status_output tr:hover {
	background: #bbd4ee;
	cursor:pointer;
}


/* 申請状況確認テーブル */

#conts .table_status {
	width: 650px;
	border-spacing: 0;
	font-size:12px;
	margin-right: auto;
	margin-left: auto;
	margin-bottom: 30px;
	margin-top: 11px;
}

#conts .table_status th {
	color: #fff;
	padding: 8px 15px;
	background: #258;
	background:-moz-linear-gradient(rgba(34,85,136,0.7), rgba(34,85,136,0.9) 50%);
	background:-webkit-gradient(linear, 100% 0%, 100% 50%, from(rgba(34,85,136,0.7)), to(rgba(34,85,136,0.9)));
	border-left:1px solid #258;
	border-top:1px solid #258;
	border-bottom:1px solid #258;
	line-height: 120%;
	text-shadow:0 -1px 0 rgba(34,85,136,0.9);
	box-shadow: 0px 1px 1px rgba(255,255,255,0.3) inset;
}

#conts .table_status th:first-child {
	border-radius: 5px 0 0 0;	
}

#conts .table_status th:last-child {
	border-radius:0 5px 0 0;
	border-right:1px solid #258;
	box-shadow: 2px 2px 1px rgba(0,0,0,0.1),0px 1px 1px rgba(255,255,255,0.3) inset;
}

#conts .table_status tr td {
	padding: 8px 11px;
	border-bottom: 1px solid #84b2e0;
	border-left: 1px solid #84b2e0;
}

#conts .table_status tr td:last-child {
	border-right: 1px solid #84b2e0;
	box-shadow: 2px 2px 1px rgba(0,0,0,0.1);
}

#conts .table_status tr {
	background: #fff;
}

#conts .table_status tr:nth-child(2n+1) {
	background: #f1f6fc;
}

#conts .table_status tr:last-child td {
	box-shadow: 2px 2px 1px rgba(0,0,0,0.1);
}

#conts .table_status tr:last-child td:first-child {
	border-radius: 0 0 0 5px;
}

#conts .table_status tr:last-child td:last-child {
	border-radius: 0 0 5px 0;
	text-align: left;
}

#conts .table_status tr:hover {
	background: #bbd4ee;
	cursor:pointer;
}


/* 特定商取引表記 */

#conts .table_aboutus1 {
	width: 700px;
	border-spacing: 0;
	font-size:12px;
	margin-right: auto;
	margin-left: auto;
	margin-bottom: 30px;
	margin-top: 30px;
}

#conts .table_aboutus1 .td01{
	margin-top: 11px;
	border-bottom-width: 1px;
	border-bottom-style: dotted;
	border-bottom-color: #CCC;
	border-left-width: 4px;
	border-left-style: solid;
	border-left-color: #001496;
	padding-left: 11px;
	height: 50px;
}

#conts .table_aboutus1 .td02{
	margin-top: 11px;
	border-bottom-width: 1px;
	border-bottom-style: dotted;
	border-bottom-color: #CCC;
	border-left-width: 4px;
	border-left-style: solid;
	border-left-color: #001CB7;
	padding-left: 11px;
	height: 50px;
}

#conts .table_aboutus1 .td03{
	margin-top: 11px;
	border-bottom-width: 1px;
	border-bottom-style: dotted;
	border-bottom-color: #CCC;
	border-left-width: 4px;
	border-left-style: solid;
	border-left-color: #0022E3;
	padding-left: 11px;
	height: 50px;
}

#conts .table_aboutus1 .td04{
	margin-top: 11px;
	border-bottom-width: 1px;
	border-bottom-style: dotted;
	border-bottom-color: #CCC;
	border-left-width: 4px;
	border-left-style: solid;
	border-left-color: #0F33FF;
	padding-left: 11px;
	height: 50px;
}

#conts .table_aboutus1 .td05{
	margin-top: 11px;
	border-bottom-width: 1px;
	border-bottom-style: dotted;
	border-bottom-color: #CCC;
	border-left-width: 4px;
	border-left-style: solid;
	border-left-color: #2F4EFF;
	padding-left: 11px;
	height: 50px;
}

#conts .table_aboutus1 .td06{
	margin-top: 11px;
	border-bottom-width: 1px;
	border-bottom-style: dotted;
	border-bottom-color: #CCC;
	border-left-width: 4px;
	border-left-style: solid;
	border-left-color: #4460FF;
	padding-left: 11px;
	height: 50px;
}

#conts .table_aboutus1 .td07{
	margin-top: 11px;
	border-bottom-width: 1px;
	border-bottom-style: dotted;
	border-bottom-color: #CCC;
	border-left-width: 4px;
	border-left-style: solid;
	border-left-color: #6A81FF;
	padding-left: 11px;
	height: 50px;
}

#conts .table_aboutus1 .td08{
	margin-top: 11px;
	border-bottom-width: 1px;
	border-bottom-style: dotted;
	border-bottom-color: #CCC;
	border-left-width: 4px;
	border-left-style: solid;
	border-left-color: #889AFF;
	padding-left: 11px;
	height: 50px;
}

#conts .table_aboutus1 .td09{
	margin-top: 11px;
	border-bottom-width: 1px;
	border-bottom-style: dotted;
	border-bottom-color: #CCC;
	border-left-width: 4px;
	border-left-style: solid;
	border-left-color: #ACB9FF;
	padding-left: 11px;
	height: 50px;
}

#conts .table_aboutus1 .td10{
	margin-top: 11px;
	border-bottom-width: 1px;
	border-bottom-style: dotted;
	border-bottom-color: #CCC;
	border-left-width: 4px;
	border-left-style: solid;
	border-left-color: #D2D9FF;
	padding-left: 11px;
	height: 50px;
}


#conts .table_aboutus1 h3{
	margin-top: 5px;
	font-size: 15px;
	color: #666;
	margin-bottom: 5px;
}

#conts .table_aboutus1 p{
	font-size: 14px;
	color: #333;
	margin-bottom: 11px;
	margin-left: 11px;
	line-height: 15px;
}


#conts .table_aboutus2 {
	width: 770px;
	border-spacing: 0;
	font-size:12px;
	margin-right: auto;
	margin-left: auto;
	margin-bottom: 30px;
	margin-top: 10px;
	line-height: 15px;
}


#conts .table_aboutus2 .td01{
	-moz-border-bottom-colors: none;
	-moz-border-left-colors: none;
	-moz-border-right-colors: none;
	-moz-border-top-colors: none;
	border-image: none;
	color: #0562AF;
	text-align: left;
	width: 200px;
	background-attachment: scroll;
	background-color: transparent;
	background-image: url(/assets/esta-o/img/page/bg_list.gif);
	background-repeat: repeat;
	background-position: 0 0;
	border-top-width: 1px;
	border-bottom-width: 1px;
	border-top-style: solid;
	border-bottom-style: solid;
	border-top-color: #0562AF;
	border-bottom-color: #0562AF;
	padding-top: 11px;
	padding-right: 12px;
	padding-bottom: 11px;
	padding-left: 12px;
}

#conts .table_aboutus2 .td02 {
	-moz-border-bottom-colors: none;
	-moz-border-left-colors: none;
	-moz-border-right-colors: none;
	-moz-border-top-colors: none;
	border-image: none;
	text-align: left;
	border-top-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-top-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-top-color: #0562AF;
	border-bottom-color: #0562AF;
	border-left-color: #0562AF;
	padding-top: 11px;
	padding-right: 0;
	padding-bottom: 11px;
	padding-left: 12px;
}

#conts .table_aboutus2 h3{
	font-size: 14px;
}

/* 個人情報保護 */

#conts .privacy_box {
	width: 710px;
	border-spacing: 0;
	font-size:12px;
	margin-right: auto;
	margin-left: auto;
	margin-bottom: 0px;
	margin-top: 10px;
	padding: 30px;
	background-image: url(/assets/esta-o/img/page/bg_str.jpg);
	background-position: center top;
	background-repeat: no-repeat;
	border-radius: 5px;
}

#conts .privacy_box_bg2 {
	width: 770px;
	border-spacing: 0;
	font-size:12px;
	background-image: url(/assets/esta-o/img/page/bg_str2.jpg);
	background-position: center bottom;
	background-repeat: no-repeat;
	border-radius: 5px;
	margin-right: auto;
	margin-left: auto;
	margin-bottom: 40px;
}

#conts .privacy_box p {
	width: 710px;
	font-size: 12px;
	line-height: 20px;
}

/* 利用規約 */

#conts .agreement_box {
	width: 710px;
	border-spacing: 0;
	font-size:12px;
	margin-right: auto;
	margin-left: auto;
	margin-bottom: 0px;
	margin-top: 10px;
	padding: 30px;
	background-image: url(/assets/esta-o/img/page/bg_str.jpg);
	background-position: center top;
	background-repeat: no-repeat;
	border-radius: 5px;
}

#conts .agreement_box_bg2 {
	width: 770px;
	border-spacing: 0;
	font-size:12px;
	background-image: url(/assets/esta-o/img/page/bg_str2.jpg);
	background-position: center bottom;
	background-repeat: no-repeat;
	border-radius: 5px;
	margin-right: auto;
	margin-left: auto;
	margin-bottom: 40px;
}

#conts .agreement_box p {
	width: 710px;
	font-size: 12px;
	line-height: 20px;
	margin-bottom: 5px;
}

p#contact_desc {
	margin-bottom:30px;
	padding-top: 0;
	padding-right: 50px;
	padding-bottom: 0;
	padding-left: 50px;
	line-height: 16px;
}

/* お問い合わせ 確認画面 */

#conts .table_contact_confirm {
	table-layout: fixed;
	width: 770px;
	border-spacing: 0;
	font-size:12px;
	margin-right: auto;
	margin-left: auto;
	margin-bottom: 30px;
	margin-top: 10px;
}

#conts .table_contact_confirm .td_left {
	width: 150px;
	color: #358ce7;
}

#conts .table_contact_confirm .td_right {
	word-break: break-all;
	width: 620px;
	border-right: 1px solid #333;
	font-size: 12px;
	line-height: 16px;
}

#conts .table_contact_confirm th {
	color: #fff;
	padding: 8px 15px;
	border-left:1px solid #333;
	border-top:1px solid #333;
	border-bottom:1px solid #333;
	line-height: 120%;
}

#conts .table_contact_confirm th {
	background-image: url(/assets/esta-o/img/page/table_change_th_bg.jpg);
	background-repeat: repeat-x;
	border-right-width: 1px;
	border-right-style: solid;
	border-right-color: #333;
}

#conts .table_contact_confirm .th_left {
	width: 150px;
}

#conts .table_contact_confirm .th_right {
	width: 620px;
}

#conts .table_contact_confirm tr td {
padding: 8px 11px;
border-bottom: 1px solid #333;
border-left: 1px solid #333;
}

#conts .table_contact_confirm tr {
background: #fff;
}

#conts .table_contact_confirm tr:hover {
background: #bbd4ee;
cursor:pointer;
}


/* エラーページ */

#notfound {
	width:900px;
	background:#FFF;
	background:url(/assets/esta-o/img/common/bg_about.jpg) repeat left top;
	margin-top: 50px;
	margin-right: auto;
	margin-bottom: 50px;
	margin-left: auto;
	height: 400px;
}

.notfound_box01 {
	margin-left: auto;
	margin-bottom: 20px;
	margin-right: auto;
	width: 500px;
	text-align: center;
}

.notfound_box02 {
	margin-left: auto;
	margin-right: auto;
	width: 498px;
	text-align: center;
	height: 75px;
	background-color: #FFFFFF;
	border: 1px solid #999;
}

.notfound_box02 p {
	background-color: #FFFFFF;
	font-size: 15px;
}

/* サービス内容 */

#conts .esta_ul {
	margin-left: 30px;
	margin-bottom: 20px;
	margin-right: 30px;
	margin-top: 10px;
}
#conts .esta_ul li {
	background-image: url(/assets/esta-o/img/common/arrow03.jpg);
	background-repeat: no-repeat;
	background-position: left 3px;
	font-size: 12px;
	padding:3px 15px;
}
#conts .table_esta {
	margin-left: 30px;
	margin-bottom: 20px;
	margin-right: 30px;
	margin-top: 10px;
}
