@charset "UTF-8";

body {
	font-family: Verdana, 'メイリオ', Meiryo, sans-serif;
	/*font-family: "ＭＳ ゴシック", "MS Gothic", "Osaka－等幅", Osaka-mono, monospace;*/
	font-size: 12px;
	font-weight: normal;
	background:#E6E6E6;
	margin:0;
	color: #535353;
}

#wrapper {
	width:900px;
	margin:0 auto;
	background:#FFF;
}

#desc {
	height:30px;
	line-height:30px;
	padding:0 15px;
	background:url(/assets/esta-o/img/common/bg_desc.jpg) repeat-x left top;
}

#desc h1 {
	color:#B3B3B3;
	font-size:12px;
	font-weight:normal;
}

#logo {
	height:85px;
}

#logo img {
	margin:10px 0 0 10px;

}

#globalnavi {
	height:44px;
	background:url(/assets/esta-o/img/common/bg_gnavi.jpg) repeat-x left top;
	border-top:#B3B3B3 1px solid;
}

#globalnavi ul {
	margin-left:7px;
	
}

#globalnavi ul li {
	float:left;
	text-align:center;
	background:url(/assets/esta-o/img/common/gnavi_sideline.gif) no-repeat right center;
	height:29px;
	line-height:29px;
	font-size:14px;
	font-weight: bold;
	padding-top: 0;
	padding-right: 12px;
	padding-bottom: 0;
	padding-left: 12px;
}

#globalnavi ul li.lastChild {
	background:none;
}

#mainvisual {
	height:229px;
	background:url(/assets/esta-o/img/top/top.jpg) no-repeat right center;
	border-bottom:#B3B3B3 1px solid;
}

#mainvisual img {
	margin:155px 0 0 20px;
}

#flow_wrapper {
	background:url(/assets/esta-o/img/common/underline_flow.gif) repeat-x left bottom;
	padding-bottom:20px;
}

#flow {
	margin:20px auto 0;
	border:#D7D8D8 1px solid;
	border-radius:5px;
	background:#E1E2E2 url(/assets/esta-o/img/common/bg_flow.jpg) repeat-x left top;
	color:#1D2087;
	width:850px;
	padding:15px 0 10px;

}

#flow h2 {
	font-family: 'Helvetica Neue', Helvetica, Arial, Verdana, 'ヒラギノ角ゴ ProN W3', 'Hiragino Kaku Gothic ProN', 'メイリオ', Meiryo, 'ＭＳ Ｐゴシック', 'MS PGothic', sans-serif;
	margin-left:13px;
	background:url(/assets/esta-o/img/common/arrow_flow_h2.png) no-repeat left center;
	font-size:17px;
	padding-left:30px;
	font-weight:bold;
	letter-spacing:4px;
	height:23px;
	line-height:23px;
}

#flow ul {
	width:710px;
	margin:20px auto 19px;
	;

}

#flow ul li {
	float:left;
	font-weight:bold;
}

#flow ul li p {
	line-height:120px;
	font-weight:bold;
	font-size: 13px;
}

#flow ul li.flowbox {
	width:120px;
	height:121px;
	text-align:center;
}

#flow ul li#box1 {
	background:url(/assets/esta-o/img/common/bg_flow_box1.png) no-repeat left top;
}

#flow ul li#box2 {
	background:url(/assets/esta-o/img/common/bg_flow_box2.png) no-repeat left top;
}

#flow ul li#box3 {
	background:url(/assets/esta-o/img/common/bg_flow_box3.png) no-repeat left top;
}

#flow ul li#box4 {
	background:url(/assets/esta-o/img/common/bg_flow_box4.png) no-repeat left top;
}

#flow ul li.flowarrow {
	width:75px;
	text-align:center;
	margin-top:47px;
}

#flow_entry {
	display:block;
	width:244px;
	margin:auto;
}

#about_wrapper {
	background:url(/assets/esta-o/img/common/bg_about.jpg) repeat left top;
}

#about {
	padding:30px 35px 55px;
}

#about h2 {
	font-family: Verdana, 'メイリオ', Meiryo, sans-serif;
	font-size:17px;
	color:#1D2087;
	font-weight:bold;
	margin-bottom:16px;
	background:url(/assets/esta-o/img/common/arrow_about.gif) no-repeat left center;
	padding-left:10px;
}

#about p.about_desc {
	margin-bottom:16px;
	font-weight: bold;
	font-size: 12px;
	line-height: 15px;

}

#aboutbox_wrapper {
	width:792px;
	margin:auto;
}

.aboutbox {
	width:363px;
	height:135px;
	float:left;
	background:url(/assets/esta-o/img/common/bg_about_box.png) no-repeat left top;
	margin-top:20px;
	padding:11px 14px 0 9px;
	position:relative;

}

.aboutbox h3 {
	text-align:center;
	font-size:20px;
	font-weight:bold;
	color:#1D2087;
	height:29px;
	line-height:29px;
	border-bottom:#1D2087 1px solid;
}

.aboutbox p.text {
	padding-top:14px;
	line-height:16px;
	font-size: 12px;
	font-weight: bold;
}

.aboutbox p.detail {
	display:block;
	position:absolute;
	bottom:12px;
	right:16px;
	text-align:right;
	padding-left:10px;
	background:url(/assets/esta-o/img/common/arrow_about.gif) no-repeat left center;
}

#footer_wrapper {
	padding:15px;
	color:#808080;
	border-top:#B3B3B3 1px solid;
}

#copyright {
	white-space: nowrap;
	font-size: 10px;
	width:40%;
	float:left;
}

#footer_navi {
	white-space: nowrap;
	font-size: 10px;
	width:60%;
	float:right;
	text-align:right;
}

#contact_left {
	width:460px;
	float:left;
	background:url(/assets/esta-o/img/contact/dropshadow_contact.png) no-repeat center bottom;
	padding-bottom:15px;
}

#contact_box {
	background: #EDEDED;
	border: 1px solid #bbbbbb;
	width: 360px;
	margin:0 auto;
	position: relative;
	border-radius:2px;
}
		
#contact_box:before {
	border: 1px solid white;
	width: 358px;
	position: absolute;
	border-radius:2px;
}
#contact_head {
	padding:20px 25px 25px 75px;
	background:url(/assets/esta-o/img/contact/bg_logo.png) no-repeat 30px 25px;
}

#contact_head h3 {
	font-size:17px;
	color:#5a5959;
	font-weight:bold;

}

#contact_head p {
	margin-top:8px;
	font-size:11px;
	color:#9d9c9c;
	line-height:1.6em;

}

#contact_head span {
	color:#358ce7;
	font-weight:bold;
}

#contact_content {
	padding:0 18px 20px;
}

#contact_submit {
	width:324px;
	height:35px;
	background:url(/assets/esta-o/img/contact/button_submit.jpg) no-repeat left top;
	border: 0px none;

}

#contact_content dl dt {
	font-size:11px;
	color:#676767;
	font-weight:bold;
	margin-bottom:10px;

}

.contact_input {
	background:#FFFFFF url(/assets/esta-o/img/contact/bg_input_text.jpg) repeat-x left top;
	margin-bottom:15px;
	border:#BFBFBF 1px solid;
	height:32px;
	width:304px;
	padding:0 10px;
}

#contact_content textarea {
	background:#FFFFFF url(/assets/esta-o/img/contact/bg_input_textarea.jpg) repeat-x left top;
	border:#BFBFBF 1px solid;
	margin-bottom:20px;
	width:304px;
	padding:10px;
}

#contact_right {
	width:390px;
	float:left;
}

#contact_right dl dt {
	background:url(/assets/esta-o/img/contact/bg_q.jpg) no-repeat left top;
	padding-left:26px;
	padding-top:5px;
	font-size:14px;
	color:#10449a;
	height:23px;
	font-weight:bold;

}

#contact_right dl dd {
	margin-bottom:11px;
	padding-left:26px;
	font-size:11px;
	line-height:12px;

}

div#conts h2#apply {
	height:80px;
	line-height:80px;
	padding-left:20px;
	color:#FFFFFF;
	font-size:22px;
	margin-bottom:10px;
	margin-left: 40px;
	background-image: url(/assets/esta-o/img/apply/bg_h2.jpg);
	background-repeat: no-repeat;
	background-position: right top;
	width: 750px;
	font-weight: bold;

}

p#apply_desc {
	margin-bottom:10px;
	line-height: 14px;
	padding-top: 0;
	padding-right: 40px;
	padding-bottom: 0;
	padding-left: 40px;
}

#apply_sheet {
	width:700px;
	background:#EAF6FD;
	margin-top: 0;
	margin-right: auto;
	margin-bottom: 10px;
	margin-left: auto;
	padding-top: 10px;
	padding-right: 35px;
	padding-bottom: 10px;
	padding-left: 35px;

}

.apply_hr {
	border-bottom:#055FAC 2px dotted;
	padding:5px 0;
	
}

.apply_hr2 {
	border-bottom:#055FAC 2px dotted;
	margin-top: 10px;
	margin-bottom: 10px;
	padding-top: 0px;
	padding-right: 0;
	padding-bottom: 0px;
	padding-left: 0;
	
}

#apply_sheet table {
	font-size:12px;
	font-weight: normal;

}

#apply_sheet table th {
	text-align:left;
	width:170px;
	vertical-align:top;
	padding:3px 0;
	line-height: 25px;
	

}

#apply_sheet table td {
	width:520px;
	vertical-align:middle;
	padding-top: 2px;
	padding-right: 0;
	padding-bottom: 2px;
	padding-left: 0;
	


}

.apply_input {
	border:none;
	width:480px;
	padding:2px 10px;
	border:1px #708090 solid;
}

.apply_checkboxarea {
	margin-top:20px;
}

.apply_checkboxarea p {
	margin-bottom:5px;

}

.apply_input_305 {
	border:none;
	width:305px;
	padding:2px 10px;
	border:1px #708090 solid;
}

.apply_input_200 {
	border:none;
	width:200px;
	padding:2px 10px;
	border:1px #708090 solid;
}

.apply_input_100 {
	border:none;
	width:100px;
	padding:2px 10px;
	border:1px #708090 solid;
}

#apply_sheet_credit {
	width:700px;
	background:#EAF6FD;
	margin-top: 0;
	margin-right: auto;
	margin-bottom: 10px;
	margin-left: auto;
	padding-top: 10px;
	padding-right: 35px;
	padding-bottom: 10px;
	padding-left: 35px;
}

#apply_sheet_credit table {
	font-size:12px;
}

#apply_sheet_credit table th {
	text-align:left;
	width:250px;
	vertical-align:middle;
	padding:3px 0;
}

#apply_sheet_credit table td {
	width:450px;
	vertical-align:middle;
	padding:3px 0;
}


#apply_sheet_agreement {
	width:700px;
	background:#EAF6FD;
	margin-top: 0;
	margin-right: auto;
	margin-bottom: 10px;
	margin-left: auto;
	padding-top: 10px;
	padding-right: 35px;
	padding-bottom: 10px;
	padding-left: 35px;
}

#apply_sheet_agreement table {
	font-size:12px;
}

#apply_sheet_agreement table th {
	text-align:left;
	width:250px;
	vertical-align:middle;
	padding:3px 0;
}

#apply_sheet_agreement table td {
	width:450px;
	vertical-align:middle;
	padding:3px 0;
}


#apply_flow {
	color:#1D2087;
	width:740px;
	margin-top: 20px;
	margin-right: auto;
	margin-bottom: 20px;
	margin-left: auto;
	padding: 15px;
	height: 120px;
}

#apply_flow ul {
	width:710px;
	;
	margin-right: auto;
	margin-left: auto;

}

#apply_flow ul li {
	float:left;
	font-weight:bold;
}

#apply_flow ul li p {
	line-height:120px;
	font-weight:bold;
	font-size: 13px;
}

#apply_flow ul li.flowbox {
	width:120px;
	height:121px;
	text-align:center;
}

#apply_flow ul li#box1 {
	background-image: url(/assets/esta-o/img/common/bg_af_box1_a.png);
	background-repeat: no-repeat;
	background-position: left top;
}

#apply_flow ul li#box2 {
	background-image: url(/assets/esta-o/img/common/bg_af_box2_a.png);
	background-repeat: no-repeat;
	background-position: left top;
}

#apply_flow ul li#box3 {
	background-image: url(/assets/esta-o/img/common/bg_af_box3_a.png);
	background-repeat: no-repeat;
	background-position: left top;
}

#apply_flow ul li#box4 {
	background-image: url(/assets/esta-o/img/common/bg_af_box4_a.png);
	background-repeat: no-repeat;
	background-position: left top;
}

#apply_flow ul li#box1b {
	background-image: url(/assets/esta-o/img/common/bg_af_box1_b.png);
	background-repeat: no-repeat;
	background-position: left top;
}

#apply_flow ul li#box2b {
	background-image: url(/assets/esta-o/img/common/bg_af_box2_b.png);
	background-repeat: no-repeat;
	background-position: left top;
}

#apply_flow ul li#box3b {
	background-image: url(/assets/esta-o/img/common/bg_af_box3_b.png);
	background-repeat: no-repeat;
	background-position: left top;
}

#apply_flow ul li#box4b {
	background-image: url(/assets/esta-o/img/common/bg_af_box4_b.png);
	background-repeat: no-repeat;
	background-position: left top;
}

#apply_flow ul li.flowarrow {
	width:75px;
	text-align:center;
	margin-top:47px;
}

#status_input_box_wrapper {
	background:url(/assets/esta-o/img/status_input/dropshadow_status_input.jpg) no-repeat center bottom;
	padding-bottom:15px;

}

#status_input_box {
	background: #EDEDED;
	border: 1px solid #bbbbbb;
	width: 598px;
	height:80px;
	margin:0 auto;
	position: relative;
	border-radius:2px;
}

#status_input_box:before {
	border: 1px solid white;
	width: 596px;
	height:80px;
	position: absolute;
	border-radius:2px;
}

#status_input_content {
	padding:18px;
}

#status_input_content span {
	font-size:13px;
	font-weight:bold;

}

#status_input_submit {
	width:110px;
	height:40px;
	background:url(/assets/esta-o/img/status_input/button_submit.jpg) no-repeat left top;
	border: 0px none;
	vertical-align:top;

}

.status_input_input {
	background:#FFFFFF url(/assets/esta-o/img/contact/bg_input_text.jpg) repeat-x left top;
	border:#BFBFBF 1px solid;
	height:38px;
	width:368px;
	padding:0 10px;
}


.space_10 {
	height: 10px;
	width: auto;
}

.space_20 {
	height: 20px;
	width: auto;
}

.space_30 {
	height: 30px;
	width: auto;
}

.space_40 {
	height: 40px;
	width: auto;
}

.space_50 {
	height: 50px;
	width: auto;
}


.space_60 {
	height: 60px;
	width: auto;
}

.space_70 {
	height: 70px;
	width: auto;
}

.space_80 {
	height: 80px;
	width: auto;
}

.space_90 {
	height: 90px;
	width: auto;
}

.js_error {
	text-align: center;
	background-color: #D20000;
	color: #FFFFFF;
	font-size: 12px;
	font-weight: bold;
	margin: 10px;
	padding: 10px;
	line-height: 20px;
}
