<%
# Good Job plugin for Redmine
# Copyright (C) 2011  Takashi Takebayashi
#
# This program is free software; you can redistribute it and/or
# modify it under the terms of the GNU General Public License
# as published by the Free Software Foundation; either version 2
# of the License, or (at your option) any later version.
#
# This program is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU General Public License for more details.
#
# You should have received a copy of the GNU General Public License
# along with this program; if not, write to the Free Software
# Foundation, Inc., 51 Franklin Street, Fifth Floor, Boston, MA  02110-1301, USA.
-%>
<%
project = Project.find @issue.project_id
flag = nil
unless project.module_enabled? :good_job == nil
  issue_status_closed = IssueStatus.find :all, :conditions => ["is_closed = (?)", true]
  issue_status_closed.each {|closed|
    if closed.id == @issue.status_id.to_i
      flag = 1
    end
  }
  unless flag == nil %>
<hr />
<div id="good_job">
  <%= stylesheet_link_tag "good_job.css", :plugin => "redmine_good_job" %>
  <script type="text/javascript">
    function onload_good_job() {
      var element = document.getElementById('content');
      /* class要素追加 */
      element.className = 'good_job';
    }
    window.onload = onload_good_job();
  </script>
</div>
<% end
end %>